<div class="col-2">
    <div class="menu">
        <div class="menu-heading">
            <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/logo-ct-dark.png">
            <a style="color: black;text-decoration: none;font-size: 25px;" href="http://localhost:4007/loginView">Huy's
                store</a>
        </div>
        <div class="menu-item_heading">
            <h2>Manage</h2>
        </div>
        <div class="menu-item">
            <div class="menu-item__detail">
                <i style="color:red" class="menu-item__img fa-brands fa-product-hunt"></i>
                <a href="http://localhost:4007/productView"> Product</a>
            </div>
            <div class="menu-item__detail">
                <i style="color:blue" class="menu-item__img fa-solid fa-cart-shopping"></i>
                <a href="http://localhost:4007/userView"> Users</a>
            </div>
            <div class="menu-item__detail">
                <i style="color:purple" class="menu-item__img fa-solid fa-bag-shopping"></i>
                <a href="http://localhost:4007/orderView"> Order</a>
            </div>
            <div class="menu-item__detail">
                <i style="color:purple" class="menu-item__img fa-solid fa-bag-shopping"></i>
                <a href="http://localhost:4007/categoryView"> Category</a>
            </div>
        </div>
        <div class="menu-item_heading">
            <h2>Account Pages</h2>
        </div>
        <div class="menu-item">
            <div class="menu-item__detail">
                <i style="color:green" class="menu-item__img fa-solid fa-user"></i>
                <a href="http://localhost:4007/profile">Profile</a>
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-item__detail">
                <a href=" /logout" class="btn btn-primary">
                    Log out</a>
            </div>
        </div>

    </div>
</div>